[Unit]
Description=Mount unit for core, revision 8213
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_8213.snap
Where=/snap/core/8213
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
